In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import preproc

In [2]:
results, test_stats = preproc.extract_files('HR.csv')

In [4]:
results_df = preproc.concat_results(results)

In [5]:
results_df

,s0,s1,s2,s3,s4,s5,s6,s7,s8,s9
2,116.00,116.00,111.00,106.00,118.00,123.00,125.0,95.00,91.00,118.0
3,82.50,82.50,81.50,97.50,84.50,116.00,88.5,89.00,70.50,109.0
4,96.33,94.67,94.00,100.00,97.67,98.67,102.0,97.67,82.33,90.0
5,86.25,91.50,88.75,94.75,85.25,95.25,88.5,116.75,76.25,99.0
6,98.60,88.20,98.40,100.40,97.80,90.20,101.8,106.20,86.40,90.0
...,...,...,...,...,...,...,...,...,...,...
25809,NaN,NaN,95.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25810,NaN,NaN,94.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25811,NaN,NaN,94.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25812,NaN,NaN,93.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25813,NaN,NaN,93.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN